.evr_ticket_info a{
    cursor:default!important;
    background:url(<?php echo EVNT_RGR_PLUGINFULLURL;?>images/info-icon.png) no-repeat bottom left;
    text-decoration:none;
    position:relative;top:-1px
}

.evr_ticket_info a span{
    padding:0 5px;
    visibility:hidden
}

.evr_ticket_info a:hover{
    text-decoration:none!important
}

div#evr_event_list {

}

table.evr_events
 { width: 100%;
 background-color: #fafafa;
 border: none;
 border-collapse: collapse;
 border-spacing: 0px; }
 
table.evr_events th
 { background-color: #666;
 color: #fff;
 padding: 4px;
 text-align: left;
 border-bottom: 2px #fff solid;
 font-size: 12px;
 font-weight: bold;} 
 
 table.evr_events tr.odd
 {background-color:#FFFFFF;
}
 
 table.evr_events tr.even
 {background-color: #F8F8F8;
 }
 
 table.evr_events td.er_date
 {width:150px;} 

.padding { padding:10px;	overflow:hidden; }

/**/
/*Style for Registration Form Layout */
/**/
.evr_regform p{
width: 300px;
clear: left;
margin: 0;
padding: 2px 0 3px 0;
padding-left: 155px; /*width of left column containing the label elements*/
/*border-top: 1px dashed gray;*/
height: 1%;
}
.evr_regform label{
    font-weight: bold;
    float: left;
    margin-left: -155px; /*width of left column*/
    width: 150px; /*width of labels. Should be smaller than left column (155px) to create some right margin*/
    }
.evr_regform input[type="text"]{ /*width of text boxes. IE6 does not understand this attribute*/
    width: 180px;
    }
.evr_regform textarea{
    width: 250px;
    height: 150px;
    }
/*added for temp fix for radio and checkbox alignment issues*/    
.evr_regform input[type="radio"]{ /*temp fix for radio button labels*/
margin: 15px 0 0 10px;
padding: 0px 0px 0px 0px;
width: 50px;
display: inline;
}

.evr_regform input[type="checkbox"]{ /*temp fix for checkbox labels*/
margin: 15px 0 0 10px;
padding: 0px 0px 0px 0px;
width: 50px;
display: inline;
}
    
    
    
/*.threepxfix class below:
Targets IE6- ONLY. Adds 3 pixel indent for multi-line form contents.
to account for 3 pixel bug: http://www.positioniseverything.net/explorer/threepxtest.html
*/
* html .threepxfix{
margin-left: 3px;
}

