.evr_ticket_info a{
    cursor:default!important;
    background:url(<?php echo EVNT_RGR_PLUGINFULLURL;?>images/info-icon.png) no-repeat bottom left;
    text-decoration:none;
    position:relative;top:-1px
}

.evr_ticket_info a span{
    padding:0 5px;
    visibility:hidden
}

.evr_ticket_info a:hover{
    text-decoration:none!important
}

div#evr_event_list {

}

table.evr_events
 { width: 100%;
 background-color: #fafafa;
 border: none;
 border-collapse: collapse;
 border-spacing: 0px; }
 
table.evr_events th
 { background-color: #666;
 color: #fff;
 padding: 4px;
 text-align: left;
 border-bottom: 2px #fff solid;
 font-size: 12px;
 font-weight: bold;} 
 
 table.evr_events tr.odd
 {background-color:#FFFFFF;
}
 
 table.evr_events tr.even
 {background-color: #F8F8F8;
 }
 
 table.evr_events td.er_date
 {width:150px;} 

.padding { padding:10px;	overflow:hidden; }

/**/
/*Style for Registration Form Layout */
/**/

.evr_regform label{
    font-weight: bold;
    display:block;
    padding-bottom:5px;
    margin-top:20px;
}
 
#evrRegForm {
    width:95%;
    overflow:hidden;
}
 
#evrRegForm li {
    list-style:none;
    padding-bottom:20px;
}

/*Textfield style*/
#evrRegForm li .fieldbox {
    background:transparent url(images/subfield.jpg) no-repeat top left;    
    float:left;    
    height:27px;    
    padding-left:5px;} 
#evrRegForm li .fieldbox input {    
    background:transparent url(images/subfield.jpg) no-repeat top right;    
    height:27px;    
    padding-top:5px;    
    width:400px;}
    
#evrRegForm li .couponbox {
    background:transparent url(images/subfield.jpg) no-repeat top left;    
    float:left;    
    height:27px;    
    padding-left:5px;} 
#evrRegForm li .couponbox input {    
    background:transparent url(images/subfield.jpg) no-repeat top right;    
    height:27px;    
    padding-top:5px;    
    width:200px;}    

/*Textarea style*/
#evrRegForm li .msgbox {    
    background:transparent url(images/msgfield.jpg) no-repeat top left;    
    float:left;    
    height:110px;    
    padding-left:5px;} 
#evrRegForm li .msgbox textarea {    
    background:transparent url(images/msgfield.jpg)  no-repeat top right ;    
    height:110px;    
    padding-top:5px;    
    width:500px;}
/*Radio and Checkbox Style*/
p.hanging-indent {
 text-indent: -25px;
 padding-left: 25px;
 margin-top:2px ;
 margin-bottom:2px;
 }
   
    
    
/*.threepxfix class below:
Targets IE6- ONLY. Adds 3 pixel indent for multi-line form contents.
to account for 3 pixel bug: http://www.positioniseverything.net/explorer/threepxtest.html
*/
* html .threepxfix{
margin-left: 3px;
}

